/* :root{
    --background: #fefff9;
    --bgnav: #c9b36a;
    --color: #5a5d62;
    --font: 'MetroScript', sans-serif;
} */

:root{
    --background: #fefff9;
    --bgnav: #ecd484;
    --color: #777777;
    --font: 'MetroScript', sans-serif;
}